body {
  font-family: monospace;
  background-color: #000000;
  /* background-color: rgb(17, 17, 17); */
  line-height: 1.4;
  font-family: monospace;
  font-size: 1.25vw;
  max-width: 82ch;
  padding: 2ch;
  margin: auto;
  margin-bottom: 2ex;
}
p,
abbr {
  color: #999999;
  font-size: 1.25vw;
}
h1,
abbr {
  color: #999999;
  /* color: #eaeaea; */
  font-size: 1.4em;
}
address {
  display: block;
  position: fixed;
  bottom: 0;
  width: 80ch;
  color: #999999;
  font-size: 1.25vw;
}
a {
  color: #9999ff;
}
